/html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0 none;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}


html, body {
    background: #535353;
    font-family: helvetica,arial,sans-serif;
    font-weight: 100;
    width: 100%;
    height: 100%;
}

/* PAGE 1 - INTRODUCTION */

intro {
    position: absolute;
    left: -15px;
    top: 232px;
}

intro img {
    width: 60%;
}

/* AUDIO PLAYER */



audio {
    position: fixed;
    z-index: 300;
    overflow: hidden;
    width: 80px;
    right: -10px;
    bottom: 0px;
    opacity: 0.5;
}


/* Moons */


.container-moons {
    position: relative;
	width: 1200px;
    height: 799px;
    margin: 0 auto;
    top: 0px; 
}

.vinci-moons {
    z-index: 5;
    position: absolute;
    top: 50px;
    left: 690px;
}

.vinci-moons:hover {
    z-index: 100;
    -webkit-transition: ease-in 0.4s;
    transition: ease-in 0.4s;
}


.vinci-moons img {
    width: 420px;
    height: auto;
}

.single-moon {
    z-index: 10;
    position: absolute;
    top: 70px;
    right: 221px;
}

.single-moon:hover {
    cursor: -webkit-grab;
    cursor: move;
}

.single-moon img {
    width: 110px;
    height: auto;
    -webkit-animation-play-state: running;
    animation-play-state: running;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: animate-single-moon;
    animation-name: animate-single-moon;
    -webkit-animation-delay: 10s;
    animation-delay: 10s;
    -webkit-animation-duration: 8s;
    animation-duration: 8s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-transform-origin: center;
    transform-origin: center;
    
}

    @-webkit-keyframes animate-single-moon { 
        0% { 
              -webkit-transform: translateY(0px); 
              transform: translateY(0px); 
        }     
        
        
        50% { 
              -webkit-transform: translateY(25px); 
              transform: translateY(25px); 
        }
            
        100% {
                -webkit-transform: translateY(0px);
                transform: translateY(0 px);
             }
}


.cassini-moon {
    z-index: 1;
    position: absolute;
    top: 10px;
    left: 335px;
}

.cassini-moon:hover {
    cursor: -webkit-move;
    cursor: move;
}


.cassini-moon img {
    width: 520px;
    height: auto;
    -webkit-animation-play-state: running;
    animation-play-state: running;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: animate-cassini-moon;
    animation-name: animate-cassini-moon;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-duration: 230s;
    animation-duration: 230s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-transform-origin: center;
    transform-origin: center;
}

    @-webkit-keyframes animate-cassini-moon { 
        0% { 
            -webkit-transform: rotate(0deg); 
            transform: rotate(0deg);
        }     
        
        
        100% { 
            -webkit-transform: rotate(360deg); 
            transform: rotate(360deg);
        }
}


/* The Modal (background) */

/* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: zoom-in;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

#myImg:hover {opacity: 0.8;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    padding-top: 30px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 1000px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}



/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {-webkit-transform:scale(0);transform:scale(0)} 
    to {-webkit-transform:scale(1);transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}



/* TOOL TIPS */

.ui-tooltip {
    width: 250px;
    font-size: 9px;
    color: black;
    background: #ffffff;
    padding: 5px;
    opacity: 0.8;
    -webkit-transition: all ease 2s;
    transition: all ease 2s;
    box-shadow: 4px 5px 10px #dddddd;
}

/* Comet */


.comet {
    position: absolute;
    z-index: 20;
    bottom: 194px;
}

.comet:hover {
    cursor: ne-resize;
}

.comet img {
    display: block;
    width: 48%;
}

.comet:hover img {
    -webkit-animation-play-state: running;
    animation-play-state: running;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: animate-comet;
    animation-name: animate-comet;
    -webkit-animation-delay: none;
    animation-delay: none;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-transform-origin: center;
    transform-origin: center;
}

    @-webkit-keyframes animate-comet { 
        0% { 
            -webkit-transform: translate(0,0); 
            transform: translate(0,0);
        }     
        
        100% { 
            -webkit-transform: translate(45px, 45px); 
            transform: translate(1200px, -600px);
        }
}



/* FLYING COMET */


.container-comet-flying {
    position: relative;
    width: 700px;
    margin: 0 auto;
}


.comet-flying {
    z-index: 10;
    position: absolute;
    left: 115px;
}

.comet-flying img {
    width: 465px;
}

.galaxy {
    z-index: 0;
    position: absolute;
    top: 150px;
    left: 115px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.galaxy img {
    width: 100%;
}




/* PAGE 2 - MAIDEN AND BALAUR FALLING IN LOVE */

/* Wheels */ 


.container-wheel {
    position: relative;
	width: 363px;
    height: 365px;
    margin: 0 auto;
    top: 45px; 
}


.wheel {
    position: absolute;
    z-index: 5;
    top: 50px;
    left: 50px;
}

.wheel2 {
    position: absolute;
    z-index: 2;
}

.wheel:hover {
    cursor: move;
}

.wheel2:hover {
    cursor: move;
}

.wheel img {
    width: 263px;
    height: auto;
}

.wheel2 img {
    width: 363px;
    height: auto;
}

/* Wheels animation */

.animate-wheel {
    -webkit-animation-play-state: running;
    animation-play-state: running;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: animate-wheel;
    animation-name: animate-wheel;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-duration: 80s;
    animation-duration: 80s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-transform-origin: center;
    transform-origin: center;
    
}

.animate-wheel:hover {
    -webkit-animation-play-state: running;
    animation-play-state: running;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
    -webkit-transform-origin: center;
    transform-origin: center;
    
}


    @-webkit-keyframes animate-wheel { 
        0% { 
            -webkit-transform: rotate(0deg); 
            transform: rotate(0deg);
        }     

        
        100% {
            -webkit-transform: rotate(360deg); 
            transform: rotate(360deg);
        }
        
}


.animate-wheel2 {
    -webkit-animation-play-state: running;
    animation-play-state: running;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: animate-wheel2;
    animation-name: animate-wheel2;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-duration: 90s;
    animation-duration: 90s;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
    -webkit-transform-origin: center;
    transform-origin: center;
    
}

.animate-wheel2:hover {
    -webkit-animation-play-state: running;
    animation-play-state: running;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
    -webkit-transform-origin: center;
    transform-origin: center;
    
}

    @-webkit-keyframes animate-wheel2 { 
        0% { 
            -webkit-transform: rotate(0deg); 
            transform: rotate(0deg);
        }     
        
        
        100% { 
            -webkit-transform: rotate(-360deg); 
            transform: rotate(-360deg);
        }
}


/* Castle */

.castle {
    position: absolute;
    top: 170px;
    z-index: 25;
}

.castle img {
    width: 100%;
    
}



/* SLIDE 3 */

.container-creatures {
    position: relative;
    margin: 0 auto;
    width: 650px;
    height: 700px;
}


.prince {
    z-index: 10;
    position: absolute;
    top: 40px;
    left: 130px;
}

.prince:hover {
    cursor: -webkit-move;
    cursor: move;
}

.prince img {
    width: 406px;
}


.balaur {
    z-index: 0;
    position: absolute;
    top: 50px;
    left: 145px;
}

.balaur:hover {
    cursor: help;
}

.balaur img {
    width: 75%;
}


.container-balaur-and-father {
    position: relative;
    width: 600px;
    margin: 0 auto;
}

.balaur-and-father {
    position: absolute;
    top: 150px;
    left: 50px;
}

.balaur-and-father img {
    width: 500px;
}




h2 {
	margin: 30px;
	font-size: 36px;
	text-transform: uppercase;
	color: #fff;
}

nav {
	position: absolute;
	top: 0px;
	right: -20px;
	width: 90px;
    height: auto;
	background: none;
	z-index: 1000;
    opacity: 0.3;
}

nav.back {
	position: absolute;
	top: 0px;
	left: 20px;
	width: 90px;
	background: none;
	z-index: 1000;
    opacity: 0.3;
}

nav:hover {
    opacity: 1.0;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

nav.back:hover {
    opacity: 1.0;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
}



nav a {
	font-size: 22px;
	color: #aaa;
	display: block;
	text-decoration: none;
	margin: 5px 0;
	cursor: pointer;
	-webkit-transition: all .2s ease;
    transition: all .2s ease;
}

nav-arrow {
    background-image: url('https://damarisdus.github.io/evening-star/img/nav/fig_2.png');
}

nav img {
    width: 50%;
    height: auto;
}


nav a.selected {
	font-size: 32px;
	color: #fff;
}

.page {
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

#page1 {
    background-image: url('https://damarisdus.github.io/evening-star/img/intro_page.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
}

#page2 {
    background-image: url('https://damarisdus.github.io/evening-star/img/title_page2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#page3 {
    background-image: url('https://damarisdus.github.io/evening-star/img/slide3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#page4 {
    background-image: url('https://damarisdus.github.io/evening-star/img/slide4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}


#page5 {
    background-image: url('https://damarisdus.github.io/evening-star/img/slide5.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}


.item {
	position: absolute;
	top: 0;
	left: 0;
	width: 100px;
	height: 100px;
	background: #fff;
/*	padding: -20px;*/
	font-size: 1em;
    border-radius:50%;
    color:transparent;
}

.item:hover {
    cursor: move;
}

.item1 {
	top: 40%;
	left: 70%;
	width: 60px;
	height: 60px;
	background: #fff;
	font-size: .6em;
	box-shadow: 3px 3px 3px 0px rgba(30,30,30,.3);
	-webkit-box-shadow: 3px 3px 3px 0px rgba(30,30,30,.3);
	-moz-box-shadow: 3px 3px 3px 0px rgba(30,30,30,.3);
}

.item2 {
	top: 60%;
	left: 20%;
	width: 103px;
	height: 108px;
	background: transparent;
	font-size: .7em;
	box-shadow: 3px 4px 8px rgba(30,30,30,.3);
	-webkit-box-shadow: 4px 3px 11px rgba(30,30,30,.3);
	-moz-box-shadow: 3px 4px 5px rgba(30,30,30,.3);
    background-image: url('https://damarisdus.github.io/evening-star/img/element1.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-animation-play-state: running;
    animation-play-state: running;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: animate-item2;
    animation-name: animate-item2;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-duration: 15s;
    animation-duration: 15s;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
    -webkit-transform-origin: center;
    transform-origin: center;
    
}

    @-webkit-keyframes animate-item2 { 
        0% { 
            -webkit-transform: rotate(0deg); 
            transform: rotate(0deg);
        }     
        
        
        100% { 
            -webkit-transform: rotate(-360deg); 
            transform: rotate(-360deg);
        }
}
    


.item3 {
    z-index: 20;
	top: 4%;
	left: 57%;
	width: 103px;
	height: 108px;
	background: transparent;
	font-size: .7em;
	box-shadow: 3px 4px 8px rgba(30,30,30,.3);
	-webkit-box-shadow: 4px 3px 11px rgba(30,30,30,.3);
	-moz-box-shadow: 3px 4px 5px rgba(30,30,30,.3);
    background-image: url('https://damarisdus.github.io/evening-star/img/element1.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-animation-play-state: running;
    animation-play-state: running;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: animate-item3;
    animation-name: animate-item3;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-duration: 30s;
    animation-duration: 30s;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
    -webkit-transform-origin: center;
    transform-origin: center;
}



    @-webkit-keyframes animate-item3 { 
        0% { 
            -webkit-transform: rotate(0deg); 
            transform: rotate(0deg);
        }     
        
        
        100% { 
            -webkit-transform: rotate(-360deg); 
            transform: rotate(-360deg);
        }
}
    


.item4 {
	top: 30%;
	left: 10%;
	width: 90px;
	height: 90px;
	background: #fff;
	font-size: .9em;
	box-shadow: 8px 8px 8px 0px rgba(30,30,30,.3);
	-webkit-box-shadow: 8px 8px 8px 0px rgba(30,30,30,.3);
	-moz-box-shadow: 8px 8px 8px 0px rgba(30,30,30,.3);
}

.item5 {
	top: 60%;
	left: 90%;
	background: #fff;
	box-shadow: 10px 10px 10px 0px rgba(30,30,30,.3);
	-webkit-box-shadow: 10px 10px 10px 0px rgba(30,30,30,.3);
	-moz-box-shadow: 10px 10px 10px 0px rgba(30,30,30,.3);
}

.fadeIn {
	text-align:center;
    font-size:3vw;
    font-weight:700;
	padding: 20px;
	line-height: 1.4em;
}

.vertical-container {
    height:100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.vertical-container .fadeIn{
  width:300px;
  height:300px;
  color:#fff;
}


/* FOR HORIZONTAL ORIENTAION! WHAT!?!? */

body {
	width: 500%;
}

.page {
	float: left;
	width: 20%;
}


